.admin-news-padding {
    padding: 50px 150px;
    background-color: ghostwhite;
    position: absolute;
    width: 100%;
    height: 100%;
}

.admin-news-box {
    background-color: white;
    padding: 48px;
    height: 100%;
}